
.centered-color-text {
	/* center horizontally and vertically */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* font size and inverse color */
	font-size: 10vmax;
	mix-blend-mode: difference;
	color: white;
	/* make text unselectable */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}
